@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/*Persian Fonts */
@font-face {
    font-family: IRANSans;
    src: url('../fonts/IranSans/IRANSansWeb.ttf');
    src: url('../fonts/IranSans/IRANSansWeb_Light.ttf');
    src: url('../fonts/IranSans/IRANSansWeb_Medium.ttf');
    src: url('../fonts/IranSans/IRANSansWeb_UltraLight.ttf');
}

@font-face {
    font-family: IRANSans;
    font-weight: bold;
    src: url('../fonts/IranSans/IRANSansWeb_Bold.ttf');
}

@font-face {
    font-family: IRANSans;
    font-weight: 500;
    src: url('../fonts/IranSans/IRANSansWeb_Medium.ttf');
}

@font-face {
    font-family: IRANSans;
    font-weight: 400;
    src: url('../fonts/IranSans/IRANSansWeb_Light.ttf');
}

:root {
    /*--- Main Colors*/
    --blu-color: #3490FB;
    --pink-color: #FB5EC4;
    --purple-color: #7C71F5;
    --gray-dark: #343a40;


    /*--- Main Persian Font*/
    --main-pe-font: 'IRANSans', sans-serif;

    /*--- Main English Font*/
    --main-en-font: 'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

html {
    font-size: 16px;
}

body {
    font-family: 'IRANSans', sans-serif;
}

li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 50px;
}


/*navbar-area*/
.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(to left, #7C71F5, #3490FB);
    box-shadow: 20px 1px 20px rgba(0, 0, 0, 0.308);
}

.navbar-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.menu-area .nav-item {
    display: inline;
}

.menu-area .nav-item {
    padding: 0 1rem;
}

.menu-area .nav-link {
    color: #fff;
}

.menu-area .nav-link:hover {
    color: #ecf0f1;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
}

.burger {
    background-color: #7158e2;
    padding: 0.3rem .5rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    display: none;
}

.burger span {
    display: block;
    background-color: rgba(255, 255, 255, 0.795);
    width: 25px;
    height: 2px;
    margin: 0.5rem 0;
}

.burger.active-burger .bars:nth-child(1) {
    width: 10px !important;
}

.burger.active-burger .bars:nth-child(2) {
    width: 20px !important;
}

.burger.active-burger .bars:nth-child(3) {
    width: 25px !important;
}

.navbar-btn {
    background-color: #FB5EC4;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}