@media screen and (max-width:1400px) {}

@media screen and (max-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width:992px) {
    .container {
        max-width: 960px;
    }

    /*--- Burger Menu ---*/
    .menu-area {
        position: fixed;
        top: 81px;
        width: 100%;
        background-image: linear-gradient(to left, #7C71F5, #3490FB);
        transform: translateY(-1000px);
        -webkit-transform: translateY(-1000px);
        -moz-transform: translateY(-1000px);
        -o-transform: translateY(-1000px);
    }

    .menu-area .nav-item {
        display: block;
        text-align: right;
        padding: 1rem;
    }

    .menu-area .nav-link {
        font-weight: 500;
    }

    .menu-area.active-menu {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .burger {
        display: block;
    }

    /*--- block section ---*/
    .item-side {
        flex: 1 1 100%;
    }

    .item-head-right {
        order: 1 !important;

    }
    .item-head-left {
        order: 2 !important;
        text-align: right;
    }
}

@media screen and (max-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (max-width:576px) {
    .container {
        max-width: 540px;
    }
}